/* --------------------------------
  Global Text Highlight Styles
-------------------------------- */

/* Store the SVGs in global variables so they're easy to re-use */

:root {
    /* Highlight backgrounds - Pink #f23bd0 */
    --pink-01: url("/svg/pink/highlight_01.svg");
    --pink-02: url("/svg/pink/highlight_02.svg");
    --pink-03: url("/svg/pink/highlight_03.svg");
    --pink-04: url("/svg/pink/highlight_04.svg");
    --pink-05: url("/svg/pink/highlight_05.svg");
    --pink-06: url("/svg/pink/highlight_06.svg");
    --pink-07: url("/svg/pink/highlight_07.svg");
    --pink-08: url("/svg/pink/highlight_08.svg");
    --pink-09: url("/svg/pink/highlight_09.svg");
    --pink-10: url("/svg/pink/highlight_10.svg");
    --pink-11: url("/svg/pink/highlight_11.svg");
    --pink-12: url("/svg/pink/highlight_12.svg");
    --pink-13: url("/svg/pink/highlight_13.svg");
    --pink-14: url("/svg/pink/highlight_14.svg");
    --pink-15: url("/svg/pink/highlight_15.svg");
    --pink-16: url("/svg/pink/highlight_16.svg");
    --pink-17: url("/svg/pink/highlight_17.svg");
    --pink-18: url("/svg/pink/highlight_18.svg");
    --pink-19: url("/svg/pink/highlight_19.svg");
    --pink-20: url("/svg/pink/highlight_20.svg");

    /* Highlight backgrounds - Green */
    --green-01: url("/svg/green/highlight_01.svg");
    --green-02: url("/svg/green/highlight_02.svg");
    --green-03: url("/svg/green/highlight_03.svg");
    --green-04: url("/svg/green/highlight_04.svg");
    --green-05: url("/svg/green/highlight_05.svg");
    --green-06: url("/svg/green/highlight_06.svg");
    --green-07: url("/svg/green/highlight_07.svg");
    --green-08: url("/svg/green/highlight_08.svg");
    --green-09: url("/svg/green/highlight_09.svg");
    --green-10: url("/svg/green/highlight_10.svg");
    --green-11: url("/svg/green/highlight_11.svg");
    --green-12: url("/svg/green/highlight_12.svg");
    --green-13: url("/svg/green/highlight_13.svg");
    --green-14: url("/svg/green/highlight_14.svg");
    --green-15: url("/svg/green/highlight_15.svg");
    --green-16: url("/svg/green/highlight_16.svg");
    --green-17: url("/svg/green/highlight_17.svg");
    --green-18: url("/svg/green/highlight_18.svg");
    --green-19: url("/svg/green/highlight_19.svg");
    --green-20: url("/svg/green/highlight_20.svg");

    /* Highlight backgrounds - Blue */
    --blue-01: url("/svg/blue/highlight_01.svg");
    --blue-02: url("/svg/blue/highlight_02.svg");
    --blue-03: url("/svg/blue/highlight_03.svg");
    --blue-04: url("/svg/blue/highlight_04.svg");
    --blue-05: url("/svg/blue/highlight_05.svg");
    --blue-06: url("/svg/blue/highlight_06.svg");
    --blue-07: url("/svg/blue/highlight_07.svg");
    --blue-08: url("/svg/blue/highlight_08.svg");
    --blue-09: url("/svg/blue/highlight_09.svg");
    --blue-10: url("/svg/blue/highlight_10.svg");
    --blue-11: url("/svg/blue/highlight_11.svg");
    --blue-12: url("/svg/blue/highlight_12.svg");
    --blue-13: url("/svg/blue/highlight_13.svg");
    --blue-14: url("/svg/blue/highlight_14.svg");
    --blue-15: url("/svg/blue/highlight_15.svg");
    --blue-16: url("/svg/blue/highlight_16.svg");
    --blue-17: url("/svg/blue/highlight_17.svg");
    --blue-18: url("/svg/blue/highlight_18.svg");
    --blue-19: url("/svg/blue/highlight_19.svg");
    --blue-20: url("/svg/blue/highlight_20.svg");

    /* Highlight backgrounds - Yellow */
    --yellow-01: url("/svg/yellow/highlight_01.svg");
    --yellow-02: url("/svg/yellow/highlight_02.svg");
    --yellow-03: url("/svg/yellow/highlight_03.svg");
    --yellow-04: url("/svg/yellow/highlight_04.svg");
    --yellow-05: url("/svg/yellow/highlight_05.svg");
    --yellow-06: url("/svg/yellow/highlight_06.svg");
    --yellow-07: url("/svg/yellow/highlight_07.svg");
    --yellow-08: url("/svg/yellow/highlight_08.svg");
    --yellow-09: url("/svg/yellow/highlight_09.svg");
    --yellow-10: url("/svg/yellow/highlight_10.svg");
    --yellow-11: url("/svg/yellow/highlight_11.svg");
    --yellow-12: url("/svg/yellow/highlight_12.svg");
    --yellow-13: url("/svg/yellow/highlight_13.svg");
    --yellow-14: url("/svg/yellow/highlight_14.svg");
    --yellow-15: url("/svg/yellow/highlight_15.svg");
    --yellow-16: url("/svg/yellow/highlight_16.svg");
    --yellow-17: url("/svg/yellow/highlight_17.svg");
    --yellow-18: url("/svg/yellow/highlight_18.svg");
    --yellow-19: url("/svg/yellow/highlight_19.svg");
    --yellow-20: url("/svg/yellow/highlight_20.svg");

    /* Highlight backgrounds - Boxes */
    --box-green: url("/svg/green/box.svg");
    --box-pink: url("/svg/pink/box.svg");

    /* Customer quote backgrounds */
    --customer-quote-left: url("/svg/doodles/speach-bubble-left.svg");
    --customer-quote-right: url("/svg/doodles/speach-bubble-right.svg");
}

/* Highlight style CSS classes */

/* Main classes taking the HTML elements from the carrd markdown */
.highlighted-text mark {
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-style: italic;
    font-weight: 300;
}

/* Highlight style CSS classes - blue */
.blue-01 mark {
    background-image: var(--blue-01);
    &:nth-of-type(2) {
        background-image: var(--yellow-11);
    }
}
.blue-02 mark {
    background-image: var(--blue-02);
    &:nth-of-type(2) {
        background-image: var(--yellow-08);
    }
}
.blue-03 mark {
    background-image: var(--blue-03);
    &:nth-of-type(2) {
        background-image: var(--yellow-04);
    }
}
.blue-04 mark {
    background-image: var(--blue-04);
    &:nth-of-type(2) {
        background-image: var(--yellow-10);
    }
}
.blue-05 mark {
    background-image: var(--blue-05);
    &:nth-of-type(2) {
        background-image: var(--yellow-09);
    }
}
.blue-06 mark {
    background-image: var(--blue-06);
    &:nth-of-type(2) {
        background-image: var(--yellow-02);
    }
}
.blue-07 mark {
    background-image: var(--blue-07);
    &:nth-of-type(2) {
        background-image: var(--yellow-12);
    }
}
.blue-08 mark {
    background-image: var(--blue-08);
    &:nth-of-type(2) {
        background-image: var(--yellow-13);
    }
}
.blue-09 mark {
    background-image: var(--blue-09);
    &:nth-of-type(2) {
        background-image: var(--yellow-07);
    }
}
.blue-10 mark {
    background-image: var(--blue-10);
    &:nth-of-type(2) {
        background-image: var(--yellow-20);
    }
}
.blue-11 mark {
    background-image: var(--blue-11);
    &:nth-of-type(2) {
        background-image: var(--yellow-03);
    }
}
.blue-12 mark {
    /* Assign the SVG variable */
    background-image: var(--blue-12);
    &:nth-of-type(2) {
        background-image: var(--yellow-16);
    }
}
.blue-13 mark {
    /* Assign the SVG variable */
    background-image: var(--blue-13);
    &:nth-of-type(2) {
        background-image: var(--yellow-05);
    }
}
.blue-14 mark {
    /* Assign the SVG variable */
    background-image: var(--blue-14);
    &:nth-of-type(2) {
        background-image: var(--yellow-19);
    }
}
.blue-15 mark {
    /* Assign the SVG variable */
    background-image: var(--blue-15);
    &:nth-of-type(2) {
        background-image: var(--yellow-01);
    }
}
.blue-16 mark {
    /* Assign the SVG variable */
    background-image: var(--blue-16);
    &:nth-of-type(2) {
        background-image: var(--yellow-06);
    }
}
.blue-17 mark {
    /* Assign the SVG variable */
    background-image: var(--blue-17);
    &:nth-of-type(2) {
        background-image: var(--yellow-18);
    }
}
.blue-18 mark {
    /* Assign the SVG variable */
    background-image: var(--blue-18);
    &:nth-of-type(2) {
        background-image: var(--yellow-14);
    }
}
.blue-19 mark {
    /* Assign the SVG variable */
    background-image: var(--blue-19);
    &:nth-of-type(2) {
        background-image: var(--yellow-17);
    }
}
.blue-20 mark {
    /* Assign the SVG variable */
    background-image: var(--blue-20);
    &:nth-of-type(2) {
        background-image: var(--yellow-15);
    }
}

/* Highlight style CSS classes - yellow */
.yellow-01 mark {
    background-image: var(--yellow-01);
    &:nth-of-type(2) {
        background-image: var(--blue-11);
    }
}
.yellow-02 mark {
    background-image: var(--yellow-02);
    &:nth-of-type(2) {
        background-image: var(--blue-08);
    }
}
.yellow-03 mark {
    background-image: var(--yellow-03);
    &:nth-of-type(2) {
        background-image: var(--blue-04);
    }
}
.yellow-04 mark {
    background-image: var(--yellow-04);
    &:nth-of-type(2) {
        background-image: var(--blue-10);
    }
}
.yellow-05 mark {
    background-image: var(--yellow-05);
    &:nth-of-type(2) {
        background-image: var(--blue-09);
    }
}
.yellow-06 mark {
    background-image: var(--yellow-06);
    &:nth-of-type(2) {
        background-image: var(--blue-02);
    }
}
.yellow-07 mark {
    background-image: var(--yellow-07);
    &:nth-of-type(2) {
        background-image: var(--blue-12);
    }
}
.yellow-08 mark {
    background-image: var(--yellow-08);
    &:nth-of-type(2) {
        background-image: var(--blue-13);
    }
}
.yellow-09 mark {
    background-image: var(--yellow-09);
    &:nth-of-type(2) {
        background-image: var(--blue-07);
    }
}
.yellow-10 mark {
    background-image: var(--yellow-10);
    &:nth-of-type(2) {
        background-image: var(--blue-20);
    }
}
.yellow-11 mark {
    background-image: var(--yellow-11);
    &:nth-of-type(2) {
        background-image: var(--blue-03);
    }
}
.yellow-12 mark {
    /* Assign the SVG variable */
    background-image: var(--yellow-12);
    &:nth-of-type(2) {
        background-image: var(--blue-16);
    }
}
.yellow-13 mark {
    /* Assign the SVG variable */
    background-image: var(--yellow-13);
    &:nth-of-type(2) {
        background-image: var(--blue-05);
    }
}
.yellow-14 mark {
    /* Assign the SVG variable */
    background-image: var(--yellow-14);
    &:nth-of-type(2) {
        background-image: var(--blue-19);
    }
}
.yellow-15 mark {
    /* Assign the SVG variable */
    background-image: var(--yellow-15);
    &:nth-of-type(2) {
        background-image: var(--blue-01);
    }
}
.yellow-16 mark {
    /* Assign the SVG variable */
    background-image: var(--yellow-16);
    &:nth-of-type(2) {
        background-image: var(--blue-06);
    }
}
.yellow-17 mark {
    /* Assign the SVG variable */
    background-image: var(--yellow-17);
    &:nth-of-type(2) {
        background-image: var(--blue-18);
    }
}
.yellow-18 mark {
    /* Assign the SVG variable */
    background-image: var(--yellow-18);
    &:nth-of-type(2) {
        background-image: var(--blue-14);
    }
}
.yellow-19 mark {
    /* Assign the SVG variable */
    background-image: var(--yellow-19);
    &:nth-of-type(2) {
        background-image: var(--blue-17);
    }
}
.yellow-20 mark {
    /* Assign the SVG variable */
    background-image: var(--yellow-20);
    &:nth-of-type(2) {
        background-image: var(--blue-15);
    }
}

/* Highlight style CSS classes - green */
.green-01 mark {
    background-image: var(--green-01);
    &:nth-of-type(2) {
        background-image: var(--pink-11);
    }
}
.green-02 mark {
    background-image: var(--green-02);
    &:nth-of-type(2) {
        background-image: var(--pink-08);
    }
}
.green-03 mark {
    background-image: var(--green-03);
    &:nth-of-type(2) {
        background-image: var(--pink-04);
    }
}
.green-04 mark {
    background-image: var(--green-04);
    &:nth-of-type(2) {
        background-image: var(--pink-10);
    }
}
.green-05 mark {
    background-image: var(--green-05);
    &:nth-of-type(2) {
        background-image: var(--pink-09);
    }
}
.green-06 mark {
    background-image: var(--green-06);
    &:nth-of-type(2) {
        background-image: var(--pink-02);
    }
}
.green-07 mark {
    background-image: var(--green-07);
    &:nth-of-type(2) {
        background-image: var(--pink-12);
    }
}
.green-08 mark {
    background-image: var(--green-08);
    &:nth-of-type(2) {
        background-image: var(--pink-13);
    }
}
.green-09 mark {
    background-image: var(--green-09);
    &:nth-of-type(2) {
        background-image: var(--pink-07);
    }
}
.green-10 mark {
    background-image: var(--green-10);
    &:nth-of-type(2) {
        background-image: var(--pink-20);
    }
}
.green-11 mark {
    background-image: var(--green-11);
    &:nth-of-type(2) {
        background-image: var(--pink-03);
    }
}
.green-12 mark {
    /* Assign the SVG variable */
    background-image: var(--green-12);
    &:nth-of-type(2) {
        background-image: var(--pink-16);
    }
}
.green-13 mark {
    /* Assign the SVG variable */
    background-image: var(--green-13);
    &:nth-of-type(2) {
        background-image: var(--pink-05);
    }
}
.green-14 mark {
    /* Assign the SVG variable */
    background-image: var(--green-14);
    &:nth-of-type(2) {
        background-image: var(--pink-19);
    }
}
.green-15 mark {
    /* Assign the SVG variable */
    background-image: var(--green-15);
    &:nth-of-type(2) {
        background-image: var(--pink-01);
    }
}
.green-16 mark {
    /* Assign the SVG variable */
    background-image: var(--green-16);
    &:nth-of-type(2) {
        background-image: var(--pink-06);
    }
}
.green-17 mark {
    /* Assign the SVG variable */
    background-image: var(--green-17);
    &:nth-of-type(2) {
        background-image: var(--pink-18);
    }
}
.green-18 mark {
    /* Assign the SVG variable */
    background-image: var(--green-18);
    &:nth-of-type(2) {
        background-image: var(--pink-14);
    }
}
.green-19 mark {
    /* Assign the SVG variable */
    background-image: var(--green-19);
    &:nth-of-type(2) {
        background-image: var(--pink-17);
    }
}
.green-20 mark {
    /* Assign the SVG variable */
    background-image: var(--green-20);
    &:nth-of-type(2) {
        background-image: var(--pink-15);
    }
}

/* Highlight style CSS classes - pink */
.pink-01 mark {
    background-image: var(--pink-01);
    &:nth-of-type(2) {
        background-image: var(--green-11);
    }
}
.pink-02 mark {
    background-image: var(--pink-02);
    &:nth-of-type(2) {
        background-image: var(--green-08);
    }
}
.pink-03 mark {
    background-image: var(--pink-03);
    &:nth-of-type(2) {
        background-image: var(--green-04);
    }
}
.pink-04 mark {
    background-image: var(--pink-04);
    &:nth-of-type(2) {
        background-image: var(--green-10);
    }
}
.pink-05 mark {
    background-image: var(--pink-05);
    &:nth-of-type(2) {
        background-image: var(--green-09);
    }
}
.pink-06 mark {
    background-image: var(--pink-06);
    &:nth-of-type(2) {
        background-image: var(--green-02);
    }
}
.pink-07 mark {
    background-image: var(--pink-07);
    &:nth-of-type(2) {
        background-image: var(--green-12);
    }
}
.pink-08 mark {
    background-image: var(--pink-08);
    &:nth-of-type(2) {
        background-image: var(--green-13);
    }
}
.pink-09 mark {
    background-image: var(--pink-09);
    &:nth-of-type(2) {
        background-image: var(--green-07);
    }
}
.pink-10 mark {
    background-image: var(--pink-10);
    &:nth-of-type(2) {
        background-image: var(--green-20);
    }
}
.pink-11 mark {
    background-image: var(--pink-11);
    &:nth-of-type(2) {
        background-image: var(--green-03);
    }
}
.pink-12 mark {
    /* Assign the SVG variable */
    background-image: var(--pink-12);
    &:nth-of-type(2) {
        background-image: var(--green-16);
    }
}
.pink-13 mark {
    /* Assign the SVG variable */
    background-image: var(--pink-13);
    &:nth-of-type(2) {
        background-image: var(--green-05);
    }
}
.pink-14 mark {
    /* Assign the SVG variable */
    background-image: var(--pink-14);
    &:nth-of-type(2) {
        background-image: var(--green-19);
    }
}
.pink-15 mark {
    /* Assign the SVG variable */
    background-image: var(--pink-15);
    &:nth-of-type(2) {
        background-image: var(--green-01);
    }
}
.pink-16 mark {
    /* Assign the SVG variable */
    background-image: var(--pink-16);
    &:nth-of-type(2) {
        background-image: var(--green-06);
    }
}
.pink-17 mark {
    /* Assign the SVG variable */
    background-image: var(--pink-17);
    &:nth-of-type(2) {
        background-image: var(--green-18);
    }
}
.pink-18 mark {
    /* Assign the SVG variable */
    background-image: var(--pink-18);
    &:nth-of-type(2) {
        background-image: var(--green-14);
    }
}
.pink-19 mark {
    /* Assign the SVG variable */
    background-image: var(--pink-19);
    &:nth-of-type(2) {
        background-image: var(--green-17);
    }
}
.pink-20 mark {
    /* Assign the SVG variable */
    background-image: var(--pink-20);
    &:nth-of-type(2) {
        background-image: var(--green-15);
    }
}

/* Add the green box outline to buttons */
ul.highlight-box-green > li > a.button,
#signup input[type="submit"] {
    background-color: transparent;

    /* Assign the SVG variable */
    background-image: var(--box-green);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    /* padding-top: 0.8em; */
    min-height: 80px;

    &:hover {
        /* Assign the SVG variable */
        background-image: var(--box-pink);
    }
}

/* Add check icon to bold text with the .check-green class */
.check-green strong::before {
    content: url("/svg/doodles/icon-check-green.svg");
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}

/* Add check icon to bold text with the .check-blue class */
.check-blue strong::before {
    content: url("/svg/doodles/icon-check-blue.svg");
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}

/* Add thumb up icon to bold text with the .thumb class */
.thumb strong::before {
    width: 36px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    content: url("/svg/doodles/icon-thumb-up.svg");
    display: inline-block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1rem;
}

/* Add icons to text with the .intro class */
.intro::before {
    content: "";
    display: block;
    width: 67px; /* Adjust as needed */
    height: 67px; /* Adjust as needed */
    background-image: url("/svg/doodles/icon-globe.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -3em;
    float: left;
}
.intro::after {
    content: "";
    display: block;
    width: 133px; /* Adjust as needed */
    height: 64px; /* Adjust as needed */
    background-image: url("/svg/doodles/icon-rocket-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: -3em;
    float: right;
}

/* Add star icons to text with the .star class */
.stars strong {
    font-size: 1.25em;
}
.stars::before {
    content: "";
    display: block;
    width: 79px; /* Adjust as needed */
    height: 76px; /* Adjust as needed */
    background-image: url("/svg/doodles/icon-star-yellow-01.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -3em;
    float: left;
}
.stars::after {
    content: "";
    display: block;
    width: 79px; /* Adjust as needed */
    height: 76px; /* Adjust as needed */
    background-image: url("/svg/doodles/icon-star-yellow-02.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: -3em;
    float: right;
}

/* Add lightbulb icons to text with the .lightbulbs class */
.lightbulbs {
    align-content: center;
    position: relative; /* Ensures ::after aligns properly */
    display: inline-block; /* Helps keep it aligned with content */
}
.lightbulbs::before {
    content: "";
    display: block;
    width: 44px; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
    background-image: url("/svg/doodles/icon-lightbulb-left.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -5em;
    float: left;
}
.lightbulbs::after {
    content: "";
    display: block;
    width: 44px; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
    background-image: url("/svg/doodles/icon-lightbulb-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: -5em;
    float: right;
}

/* Add speach bubble icons to text with the .quotes class */
.quotes::before {
    content: "";
    display: block;
    width: 80px; /* Adjust as needed */
    height: 66px; /* Adjust as needed */
    background-image: url("/svg/doodles/icon-speech-bubble-01-left.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -1em;
    left: -1em;
    float: left;
}

.quotes::after {
    content: "";
    display: block;
    width: 80px; /* Adjust as needed */
    height: 66px; /* Adjust as needed */
    background-image: url("/svg/doodles/icon-speech-bubble-01-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -1em;
    right: -1em;
    float: right;
}

.customer-quote em {
    aspect-ratio: 4 / 3;
    /* Assign the SVG variable */
    background-image: var(--customer-quote-left);
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 11% 14% 10%;
    font-size: calc(0.9vw + 0.9vh);

    &:nth-of-type(even) {
        background-image: var(--customer-quote-right);
    }
}
