/* --------------------------------
  Global Text Highlight Styles
-------------------------------- */

/* Store the SVGs in global variables so they're easy to re-use */

:root {
  
/* Highlight style 1 */
  
--pink-1: url('data:image/svg+xml;utf8, \
<svg \
version="1.1" \
id="svg1" \
width="1019.3455" \
height="168.38715" \
viewBox="0 0 1019.3455 168.38714" \
xmlns="http://www.w3.org/2000/svg" \
xmlns:svg="http://www.w3.org/2000/svg"> \
<defs \
id="defs1" /> \
<g\
id="g1" \
transform="translate(-172.2639,-682.01333)"> \
<path \
id="path1" \
d="m 8795.71,14264.7 c -240.39,3 -480.79,5.7 -721.19,8 109.35,68.4 185.93,187.5 219.29,278.9 33.59,92.1 80.78,299.4 -110.66,303.5 -842.29,18.2 -1684.86,28.1 -2527.48,29.6 -846.68,1.5 -1693.38,-5.4 -2539.84,-20.7 -476.13,-8.7 -952.17,-20 -1428.1,-33.9 -76.68,-2.2 -156.53,-59.7 -202.53,-100.1 -71.38,-62.6 -133.94,-151.3 -163.24,-231.6 -30.69,-84.2 -81.96,-309.2 110.66,-303.6 112.13,3.3 224.27,6.4 336.41,9.4 -49.92,-34 -95.22,-80.8 -121.03,-113.4 -50.73,-64.1 -89.04,-132.1 -111.39,-205.3 -25.78,-84.5 -47.68,-265.5 123.03,-263 894.57,13.1 1789.26,21.5 2683.99,25.1 654.46,2.6 1308.94,2.6 1963.41,0.2 21.51,-16.2 51.4,-26 92.33,-25.8 713.74,2.5 1427.48,5 2141.22,7.5 75.09,0.2 158.53,61.4 202.55,100 71.37,62.7 133.93,151.4 163.23,231.7 33.08,90.7 81.04,301.1 -110.66,303.5" \
style="fill:%23f23bd0;fill-opacity:1;fill-rule:nonzero;stroke:none" \
  transform="matrix(0.13333333,0,0,-0.13333333,0,2666.6667)" /> \
</g> \
</svg>');

--green-1: url('data:image/svg+xml;utf8, \
<svg \
version="1.1" \
id="svg1" \
width="1019.3455" \
height="168.38715" \
viewBox="0 0 1019.3455 168.38714" \
xmlns="http://www.w3.org/2000/svg" \
xmlns:svg="http://www.w3.org/2000/svg"> \
<defs \
id="defs1" /> \
<g\
id="g1" \
transform="translate(-172.2639,-682.01333)"> \
<path \
id="path2" \
d="m 8795.71,14264.7 c -240.39,3 -480.79,5.7 -721.19,8 109.35,68.4 185.93,187.5 219.29,278.9 33.59,92.1 80.78,299.4 -110.66,303.5 -842.29,18.2 -1684.86,28.1 -2527.48,29.6 -846.68,1.5 -1693.38,-5.4 -2539.84,-20.7 -476.13,-8.7 -952.17,-20 -1428.1,-33.9 -76.68,-2.2 -156.53,-59.7 -202.53,-100.1 -71.38,-62.6 -133.94,-151.3 -163.24,-231.6 -30.69,-84.2 -81.96,-309.2 110.66,-303.6 112.13,3.3 224.27,6.4 336.41,9.4 -49.92,-34 -95.22,-80.8 -121.03,-113.4 -50.73,-64.1 -89.04,-132.1 -111.39,-205.3 -25.78,-84.5 -47.68,-265.5 123.03,-263 894.57,13.1 1789.26,21.5 2683.99,25.1 654.46,2.6 1308.94,2.6 1963.41,0.2 21.51,-16.2 51.4,-26 92.33,-25.8 713.74,2.5 1427.48,5 2141.22,7.5 75.09,0.2 158.53,61.4 202.55,100 71.37,62.7 133.93,151.4 163.23,231.7 33.08,90.7 81.04,301.1 -110.66,303.5" \
style="fill:%238cff33;fill-opacity:1;fill-rule:nonzero;stroke:none;" \
transform="matrix(0.13333333,0,0,-0.13333333,0,2666.6667)" /> \
</g> \
</svg>');

--blue-1: url('data:image/svg+xml;utf8, \
<svg \
version="1.1" \
id="svg1" \
width="1019.3455" \
height="168.38715" \
viewBox="0 0 1019.3455 168.38714" \
xmlns="http://www.w3.org/2000/svg" \
xmlns:svg="http://www.w3.org/2000/svg"> \
<defs \
id="defs1" /> \
<g\
id="g1" \
transform="translate(-172.2639,-682.01333)"> \
<path \
id="path3" \
d="m 8795.71,14264.7 c -240.39,3 -480.79,5.7 -721.19,8 109.35,68.4 185.93,187.5 219.29,278.9 33.59,92.1 80.78,299.4 -110.66,303.5 -842.29,18.2 -1684.86,28.1 -2527.48,29.6 -846.68,1.5 -1693.38,-5.4 -2539.84,-20.7 -476.13,-8.7 -952.17,-20 -1428.1,-33.9 -76.68,-2.2 -156.53,-59.7 -202.53,-100.1 -71.38,-62.6 -133.94,-151.3 -163.24,-231.6 -30.69,-84.2 -81.96,-309.2 110.66,-303.6 112.13,3.3 224.27,6.4 336.41,9.4 -49.92,-34 -95.22,-80.8 -121.03,-113.4 -50.73,-64.1 -89.04,-132.1 -111.39,-205.3 -25.78,-84.5 -47.68,-265.5 123.03,-263 894.57,13.1 1789.26,21.5 2683.99,25.1 654.46,2.6 1308.94,2.6 1963.41,0.2 21.51,-16.2 51.4,-26 92.33,-25.8 713.74,2.5 1427.48,5 2141.22,7.5 75.09,0.2 158.53,61.4 202.55,100 71.37,62.7 133.93,151.4 163.23,231.7 33.08,90.7 81.04,301.1 -110.66,303.5" \
style="fill:%2301fff4;fill-opacity:1;fill-rule:nonzero;stroke:none;" \
transform="matrix(0.13333333,0,0,-0.13333333,0,2666.6667)" /> \
</g> \
</svg>');

--yellow-1: url('data:image/svg+xml;utf8, \
<svg \
version="1.1" \
id="svg1" \
width="1019.3455" \
height="168.38715" \
viewBox="0 0 1019.3455 168.38714" \
xmlns="http://www.w3.org/2000/svg" \
xmlns:svg="http://www.w3.org/2000/svg"> \
<defs \
id="defs1" /> \
<g\
id="g1" \
transform="translate(-172.2639,-682.01333)"> \
<path \
id="path3" \
d="m 8795.71,14264.7 c -240.39,3 -480.79,5.7 -721.19,8 109.35,68.4 185.93,187.5 219.29,278.9 33.59,92.1 80.78,299.4 -110.66,303.5 -842.29,18.2 -1684.86,28.1 -2527.48,29.6 -846.68,1.5 -1693.38,-5.4 -2539.84,-20.7 -476.13,-8.7 -952.17,-20 -1428.1,-33.9 -76.68,-2.2 -156.53,-59.7 -202.53,-100.1 -71.38,-62.6 -133.94,-151.3 -163.24,-231.6 -30.69,-84.2 -81.96,-309.2 110.66,-303.6 112.13,3.3 224.27,6.4 336.41,9.4 -49.92,-34 -95.22,-80.8 -121.03,-113.4 -50.73,-64.1 -89.04,-132.1 -111.39,-205.3 -25.78,-84.5 -47.68,-265.5 123.03,-263 894.57,13.1 1789.26,21.5 2683.99,25.1 654.46,2.6 1308.94,2.6 1963.41,0.2 21.51,-16.2 51.4,-26 92.33,-25.8 713.74,2.5 1427.48,5 2141.22,7.5 75.09,0.2 158.53,61.4 202.55,100 71.37,62.7 133.93,151.4 163.23,231.7 33.08,90.7 81.04,301.1 -110.66,303.5" \
style="fill:%23fff745;fill-opacity:1;fill-rule:nonzero;stroke:none;" \
transform="matrix(0.13333333,0,0,-0.13333333,0,2666.6667)" /> \
</g> \
</svg>');

  
/* Highlight style 2 */

--pink-2: url('data:image/svg+xml;utf8, \
<svg \
version="1.1" \
id="svg1" \
width="961.42792" \
height="217.15498" \
viewBox="0 0 961.42792 217.15498" \
xmlns="http://www.w3.org/2000/svg" \
xmlns:svg="http://www.w3.org/2000/svg"> \
<defs \
id="defs1" /> \
<g \
id="g1" \
transform="translate(-201.22246,-241.15448)"> \
<path \
id="path4" \
d="m 8562.58,17674.4 c -197.26,7.4 -394.54,14.3 -591.86,20.8 39.86,112.8 80.41,314.5 -125.4,329.7 -1529.78,112.3 -3066.31,168.2 -4602.95,166.4 -431.32,-0.5 -862.62,-5.6 -1293.77,-15 -84.62,-1.9 -174.39,-66.9 -224.81,-111.1 -79.24,-69.5 -148.67,-168 -181.19,-257.1 -34.53,-94.7 -90.84,-341.6 122.83,-336.9 13.87,0.3 27.75,0.5 41.63,0.8 -21.38,-36.2 -38.14,-71.8 -49.69,-103.5 -34.74,-95.2 -90.78,-340.8 122.82,-336.9 335.15,6.3 670.34,11 1005.55,14.3 -12.61,-24.2 -23.06,-48 -31.23,-70.4 -36.99,-101.5 -89.82,-333.3 122.82,-336.9 1163.06,-19.7 2326.12,-39.4 3489.18,-59.1 l 991.09,-16.8 c 81.91,-1.4 177.67,69.7 224.81,111.1 79.23,69.5 148.66,167.9 181.19,257.1 2.5,6.9 5.08,14.4 7.64,22.3 169.39,5.5 338.78,10.8 508.17,16.1 85.25,2.6 173.58,66.1 224.81,111.1 79.23,69.5 148.66,167.9 181.19,257.1 38.31,105 89.04,328.8 -122.83,336.9" \
style="fill:%23f23bd0;fill-opacity:1;fill-rule:nonzero;stroke:none" \
transform="matrix(0.13333333,0,0,-0.13333333,0,2666.6667)" /> \
</g> \
</svg>');

--green-2: url('data:image/svg+xml;utf8, \
<svg \
version="1.1" \
id="svg1" \
width="961.42792" \
height="217.15498" \
viewBox="0 0 961.42792 217.15498" \
xmlns="http://www.w3.org/2000/svg" \
xmlns:svg="http://www.w3.org/2000/svg"> \
<defs \
id="defs1" /> \
<g \
id="g1" \
transform="translate(-201.22246,-241.15448)"> \
<path \
id="path5" \
d="m 8562.58,17674.4 c -197.26,7.4 -394.54,14.3 -591.86,20.8 39.86,112.8 80.41,314.5 -125.4,329.7 -1529.78,112.3 -3066.31,168.2 -4602.95,166.4 -431.32,-0.5 -862.62,-5.6 -1293.77,-15 -84.62,-1.9 -174.39,-66.9 -224.81,-111.1 -79.24,-69.5 -148.67,-168 -181.19,-257.1 -34.53,-94.7 -90.84,-341.6 122.83,-336.9 13.87,0.3 27.75,0.5 41.63,0.8 -21.38,-36.2 -38.14,-71.8 -49.69,-103.5 -34.74,-95.2 -90.78,-340.8 122.82,-336.9 335.15,6.3 670.34,11 1005.55,14.3 -12.61,-24.2 -23.06,-48 -31.23,-70.4 -36.99,-101.5 -89.82,-333.3 122.82,-336.9 1163.06,-19.7 2326.12,-39.4 3489.18,-59.1 l 991.09,-16.8 c 81.91,-1.4 177.67,69.7 224.81,111.1 79.23,69.5 148.66,167.9 181.19,257.1 2.5,6.9 5.08,14.4 7.64,22.3 169.39,5.5 338.78,10.8 508.17,16.1 85.25,2.6 173.58,66.1 224.81,111.1 79.23,69.5 148.66,167.9 181.19,257.1 38.31,105 89.04,328.8 -122.83,336.9" \
style="fill:%238cff33;fill-opacity:1;fill-rule:nonzero;stroke:none" \
transform="matrix(0.13333333,0,0,-0.13333333,0,2666.6667)" /> \
</g> \
</svg>');

--blue-2: url('data:image/svg+xml;utf8, \
<svg \
version="1.1" \
id="svg1" \
width="961.42792" \
height="217.15498" \
viewBox="0 0 961.42792 217.15498" \
xmlns="http://www.w3.org/2000/svg" \
xmlns:svg="http://www.w3.org/2000/svg"> \
<defs \
id="defs1" /> \
<g \
id="g1" \
transform="translate(-201.22246,-241.15448)"> \
<path \
id="path5" \
d="m 8562.58,17674.4 c -197.26,7.4 -394.54,14.3 -591.86,20.8 39.86,112.8 80.41,314.5 -125.4,329.7 -1529.78,112.3 -3066.31,168.2 -4602.95,166.4 -431.32,-0.5 -862.62,-5.6 -1293.77,-15 -84.62,-1.9 -174.39,-66.9 -224.81,-111.1 -79.24,-69.5 -148.67,-168 -181.19,-257.1 -34.53,-94.7 -90.84,-341.6 122.83,-336.9 13.87,0.3 27.75,0.5 41.63,0.8 -21.38,-36.2 -38.14,-71.8 -49.69,-103.5 -34.74,-95.2 -90.78,-340.8 122.82,-336.9 335.15,6.3 670.34,11 1005.55,14.3 -12.61,-24.2 -23.06,-48 -31.23,-70.4 -36.99,-101.5 -89.82,-333.3 122.82,-336.9 1163.06,-19.7 2326.12,-39.4 3489.18,-59.1 l 991.09,-16.8 c 81.91,-1.4 177.67,69.7 224.81,111.1 79.23,69.5 148.66,167.9 181.19,257.1 2.5,6.9 5.08,14.4 7.64,22.3 169.39,5.5 338.78,10.8 508.17,16.1 85.25,2.6 173.58,66.1 224.81,111.1 79.23,69.5 148.66,167.9 181.19,257.1 38.31,105 89.04,328.8 -122.83,336.9" \
style="fill:%2301fff4;fill-opacity:1;fill-rule:nonzero;stroke:none" \
transform="matrix(0.13333333,0,0,-0.13333333,0,2666.6667)" /> \
</g> \
</svg>');

--yellow-2: url('data:image/svg+xml;utf8, \
<svg \
version="1.1" \
id="svg1" \
width="961.42792" \
height="217.15498" \
viewBox="0 0 961.42792 217.15498" \
xmlns="http://www.w3.org/2000/svg" \
xmlns:svg="http://www.w3.org/2000/svg"> \
<defs \
id="defs1" /> \
<g \
id="g1" \
transform="translate(-201.22246,-241.15448)"> \
<path \
id="path5" \
d="m 8562.58,17674.4 c -197.26,7.4 -394.54,14.3 -591.86,20.8 39.86,112.8 80.41,314.5 -125.4,329.7 -1529.78,112.3 -3066.31,168.2 -4602.95,166.4 -431.32,-0.5 -862.62,-5.6 -1293.77,-15 -84.62,-1.9 -174.39,-66.9 -224.81,-111.1 -79.24,-69.5 -148.67,-168 -181.19,-257.1 -34.53,-94.7 -90.84,-341.6 122.83,-336.9 13.87,0.3 27.75,0.5 41.63,0.8 -21.38,-36.2 -38.14,-71.8 -49.69,-103.5 -34.74,-95.2 -90.78,-340.8 122.82,-336.9 335.15,6.3 670.34,11 1005.55,14.3 -12.61,-24.2 -23.06,-48 -31.23,-70.4 -36.99,-101.5 -89.82,-333.3 122.82,-336.9 1163.06,-19.7 2326.12,-39.4 3489.18,-59.1 l 991.09,-16.8 c 81.91,-1.4 177.67,69.7 224.81,111.1 79.23,69.5 148.66,167.9 181.19,257.1 2.5,6.9 5.08,14.4 7.64,22.3 169.39,5.5 338.78,10.8 508.17,16.1 85.25,2.6 173.58,66.1 224.81,111.1 79.23,69.5 148.66,167.9 181.19,257.1 38.31,105 89.04,328.8 -122.83,336.9" \
style="fill:%23fff745;fill-opacity:1;fill-rule:nonzero;stroke:none" \
transform="matrix(0.13333333,0,0,-0.13333333,0,2666.6667)" /> \
</g> \
</svg>');

  
/* Highlight style 3 */
  
--pink-3: url('data:image/svg+xml;utf8, \
<svg \
version="1.1" \
id="svg1" \
width="976.93689" \
height="234.40379" \
viewBox="0 0 976.93689 234.40379" \
xmlns="http://www.w3.org/2000/svg" \
xmlns:svg="http://www.w3.org/2000/svg"> \
<defs \
id="defs1" /> \
<g \
id="g1" \
transform="translate(-193.468,-1070.1054)"> \
<path \
id="path6" \
d="m 8649.36,11546.9 c -7.6,-0.1 -15.2,-0.2 -22.79,-0.2 33.78,43.2 61.38,90.7 77.66,135.3 30.51,83.7 73.78,273.7 -100.96,277 -872.81,16.4 -1746.01,19.6 -2618.98,9.3 -869.26,-10.3 -1738.25,-33.9 -2606.32,-70.7 -491.29,-20.9 -982.26,-46 -1472.83,-75.3 -71.67,-4.3 -140.63,-52.6 -184.8,-91.4 -65.13,-57.1 -122.21,-138 -148.94,-211.3 -26.43,-72.5 -75.07,-287.5 100.97,-277 30.65,1.9 61.33,3.6 91.99,5.4 -20.07,-27.5 -37.51,-56.2 -52.45,-86 -27.65,-55.2 -53.73,-120.1 -48.45,-180.1 1.68,-19.2 5.02,-49.3 15.95,-75.6 -20.95,-14.4 -38.89,-28.9 -50.7,-39.3 -65.12,-57.2 -122.2,-138.1 -148.93,-211.4 -33.68,-92.3 -71.58,-263.1 100.96,-276.9 759.51,-60.6 1521.18,-104.5 2283.92,-131.2 766.4,-26.8 1533.8,-36.4 2300.93,-28.8 431.51,4.3 862.9,14.1 1294.01,29.2 70.3,2.5 142.41,54.1 184.8,91.3 65.13,57.2 122.21,138.1 148.94,211.4 27.71,76 74.86,283.1 -100.96,276.9 -762.74,-26.7 -1526.4,-36.7 -2289.86,-29.4 -760.47,7.2 -1520.66,31.4 -2279.34,72.5 419.03,7.6 838.07,15.3 1257.11,22.9 858.55,15.7 1717.1,31.4 2575.64,47.1 486.89,8.9 973.77,17.8 1460.66,26.7 69.34,1.2 143.6,55.1 184.8,91.3 65.13,57.1 122.2,138 148.93,211.3 29.13,79.9 74.42,278.3 -100.96,277" \
style="fill:%23f23bd0;fill-opacity:1;fill-rule:nonzero;stroke:none" \
transform="matrix(0.13333333,0,0,-0.13333333,0,2666.6667)" /> \
</g> \
</svg>');

--green-3: url('data:image/svg+xml;utf8, \
<svg \
version="1.1" \
id="svg1" \
width="976.93689" \
height="234.40379" \
viewBox="0 0 976.93689 234.40379" \
xmlns="http://www.w3.org/2000/svg" \
xmlns:svg="http://www.w3.org/2000/svg"> \
<defs \
id="defs1" /> \
<g \
id="g1" \
transform="translate(-193.468,-1070.1054)"> \
<path \
id="path6" \
d="m 8649.36,11546.9 c -7.6,-0.1 -15.2,-0.2 -22.79,-0.2 33.78,43.2 61.38,90.7 77.66,135.3 30.51,83.7 73.78,273.7 -100.96,277 -872.81,16.4 -1746.01,19.6 -2618.98,9.3 -869.26,-10.3 -1738.25,-33.9 -2606.32,-70.7 -491.29,-20.9 -982.26,-46 -1472.83,-75.3 -71.67,-4.3 -140.63,-52.6 -184.8,-91.4 -65.13,-57.1 -122.21,-138 -148.94,-211.3 -26.43,-72.5 -75.07,-287.5 100.97,-277 30.65,1.9 61.33,3.6 91.99,5.4 -20.07,-27.5 -37.51,-56.2 -52.45,-86 -27.65,-55.2 -53.73,-120.1 -48.45,-180.1 1.68,-19.2 5.02,-49.3 15.95,-75.6 -20.95,-14.4 -38.89,-28.9 -50.7,-39.3 -65.12,-57.2 -122.2,-138.1 -148.93,-211.4 -33.68,-92.3 -71.58,-263.1 100.96,-276.9 759.51,-60.6 1521.18,-104.5 2283.92,-131.2 766.4,-26.8 1533.8,-36.4 2300.93,-28.8 431.51,4.3 862.9,14.1 1294.01,29.2 70.3,2.5 142.41,54.1 184.8,91.3 65.13,57.2 122.21,138.1 148.94,211.4 27.71,76 74.86,283.1 -100.96,276.9 -762.74,-26.7 -1526.4,-36.7 -2289.86,-29.4 -760.47,7.2 -1520.66,31.4 -2279.34,72.5 419.03,7.6 838.07,15.3 1257.11,22.9 858.55,15.7 1717.1,31.4 2575.64,47.1 486.89,8.9 973.77,17.8 1460.66,26.7 69.34,1.2 143.6,55.1 184.8,91.3 65.13,57.1 122.2,138 148.93,211.3 29.13,79.9 74.42,278.3 -100.96,277" \
style="fill:%238cff33;fill-opacity:1;fill-rule:nonzero;stroke:none" \
transform="matrix(0.13333333,0,0,-0.13333333,0,2666.6667)" /> \
</g> \
</svg>');

--blue-3: url('data:image/svg+xml;utf8, \
<svg \
version="1.1" \
id="svg1" \
width="976.93689" \
height="234.40379" \
viewBox="0 0 976.93689 234.40379" \
xmlns="http://www.w3.org/2000/svg" \
xmlns:svg="http://www.w3.org/2000/svg"> \
<defs \
id="defs1" /> \
<g \
id="g1" \
transform="translate(-193.468,-1070.1054)"> \
<path \
id="path6" \
d="m 8649.36,11546.9 c -7.6,-0.1 -15.2,-0.2 -22.79,-0.2 33.78,43.2 61.38,90.7 77.66,135.3 30.51,83.7 73.78,273.7 -100.96,277 -872.81,16.4 -1746.01,19.6 -2618.98,9.3 -869.26,-10.3 -1738.25,-33.9 -2606.32,-70.7 -491.29,-20.9 -982.26,-46 -1472.83,-75.3 -71.67,-4.3 -140.63,-52.6 -184.8,-91.4 -65.13,-57.1 -122.21,-138 -148.94,-211.3 -26.43,-72.5 -75.07,-287.5 100.97,-277 30.65,1.9 61.33,3.6 91.99,5.4 -20.07,-27.5 -37.51,-56.2 -52.45,-86 -27.65,-55.2 -53.73,-120.1 -48.45,-180.1 1.68,-19.2 5.02,-49.3 15.95,-75.6 -20.95,-14.4 -38.89,-28.9 -50.7,-39.3 -65.12,-57.2 -122.2,-138.1 -148.93,-211.4 -33.68,-92.3 -71.58,-263.1 100.96,-276.9 759.51,-60.6 1521.18,-104.5 2283.92,-131.2 766.4,-26.8 1533.8,-36.4 2300.93,-28.8 431.51,4.3 862.9,14.1 1294.01,29.2 70.3,2.5 142.41,54.1 184.8,91.3 65.13,57.2 122.21,138.1 148.94,211.4 27.71,76 74.86,283.1 -100.96,276.9 -762.74,-26.7 -1526.4,-36.7 -2289.86,-29.4 -760.47,7.2 -1520.66,31.4 -2279.34,72.5 419.03,7.6 838.07,15.3 1257.11,22.9 858.55,15.7 1717.1,31.4 2575.64,47.1 486.89,8.9 973.77,17.8 1460.66,26.7 69.34,1.2 143.6,55.1 184.8,91.3 65.13,57.1 122.2,138 148.93,211.3 29.13,79.9 74.42,278.3 -100.96,277" \
style="fill:%2301fff4;fill-opacity:1;fill-rule:nonzero;stroke:none" \
transform="matrix(0.13333333,0,0,-0.13333333,0,2666.6667)" /> \
</g> \
</svg>');

--yellow-3: url('data:image/svg+xml;utf8, \
<svg \
version="1.1" \
id="svg1" \
width="976.93689" \
height="234.40379" \
viewBox="0 0 976.93689 234.40379" \
xmlns="http://www.w3.org/2000/svg" \
xmlns:svg="http://www.w3.org/2000/svg"> \
<defs \
id="defs1" /> \
<g \
id="g1" \
transform="translate(-193.468,-1070.1054)"> \
<path \
id="path6" \
d="m 8649.36,11546.9 c -7.6,-0.1 -15.2,-0.2 -22.79,-0.2 33.78,43.2 61.38,90.7 77.66,135.3 30.51,83.7 73.78,273.7 -100.96,277 -872.81,16.4 -1746.01,19.6 -2618.98,9.3 -869.26,-10.3 -1738.25,-33.9 -2606.32,-70.7 -491.29,-20.9 -982.26,-46 -1472.83,-75.3 -71.67,-4.3 -140.63,-52.6 -184.8,-91.4 -65.13,-57.1 -122.21,-138 -148.94,-211.3 -26.43,-72.5 -75.07,-287.5 100.97,-277 30.65,1.9 61.33,3.6 91.99,5.4 -20.07,-27.5 -37.51,-56.2 -52.45,-86 -27.65,-55.2 -53.73,-120.1 -48.45,-180.1 1.68,-19.2 5.02,-49.3 15.95,-75.6 -20.95,-14.4 -38.89,-28.9 -50.7,-39.3 -65.12,-57.2 -122.2,-138.1 -148.93,-211.4 -33.68,-92.3 -71.58,-263.1 100.96,-276.9 759.51,-60.6 1521.18,-104.5 2283.92,-131.2 766.4,-26.8 1533.8,-36.4 2300.93,-28.8 431.51,4.3 862.9,14.1 1294.01,29.2 70.3,2.5 142.41,54.1 184.8,91.3 65.13,57.2 122.21,138.1 148.94,211.4 27.71,76 74.86,283.1 -100.96,276.9 -762.74,-26.7 -1526.4,-36.7 -2289.86,-29.4 -760.47,7.2 -1520.66,31.4 -2279.34,72.5 419.03,7.6 838.07,15.3 1257.11,22.9 858.55,15.7 1717.1,31.4 2575.64,47.1 486.89,8.9 973.77,17.8 1460.66,26.7 69.34,1.2 143.6,55.1 184.8,91.3 65.13,57.1 122.2,138 148.93,211.3 29.13,79.9 74.42,278.3 -100.96,277" \
style="fill:%23fff745;fill-opacity:1;fill-rule:nonzero;stroke:none" \
transform="matrix(0.13333333,0,0,-0.13333333,0,2666.6667)" /> \
</g> \
</svg>');

  
/* Highlight style - box for buttons */
  
--box-green: url('data:image/svg+xml;utf8, \
<svg \
version="1.1" \
id="svg1" \
width="738.56641" \
height="387.66089" \
viewBox="0 0 738.56641 387.66088" \
xmlns="http://www.w3.org/2000/svg" \
xmlns:svg="http://www.w3.org/2000/svg"> \
<defs \
id="defs1" /> \
<g \
id="g1" \
transform="translate(-1652.374,-2135.3753)"> \
<path \
id="path7" \
d="m 17822.3,3827.54 c -6.3,66.51 -21.8,132.93 -100.9,135.57 -632.9,21.1 -1266.2,26.82 -1899.3,16.74 -630.2,-10.03 -1260.2,-35.58 -1889.1,-76.61 -357.4,-23.31 -714.4,-51.7 -1071,-84.93 -56.2,-5.23 -108.4,-51.76 -143.4,-91.33 -47.7,-53.94 -89.8,-129.05 -111.8,-198.94 -68.4,-91.9 -104.1,-206.51 -111.8,-320.25 -32.1,-473.89 -60.2,-948.06 -84.2,-1422.43 -6,-120.02 -12.4,-240.04 -17.4,-360.11 -5,-121.54 19.8,-261.69 141.8,-318.33 84.4,-39.17 186.3,-30.37 276.2,-24.49 121,7.91 242,15.82 363,23.73 956.3,62.5 1912.6,125 2868.9,187.5 535.7,35.02 1071.5,70.03 1607.2,105.05 81.7,5.34 148.8,90.45 188.9,152.35 54.8,84.69 94.3,189.62 92.6,291.7 -10.7,662.74 -47.4,1324.9 -109.7,1984.78 z m -1970,-1978.55 c -662.5,-43.3 -1325,-86.6 -1987.5,-129.9 -184.3,-12.05 -368.7,-24.1 -553,-36.15 l -276.5,-18.07 c -65.7,-4.3 -132.3,-12.01 -198,-5.29 -19.7,5.1 -38.2,12.15 -55.4,22.49 -2.4,2.88 -4.7,5.8 -6.8,8.82 -0.1,9.71 -0.2,19.42 0.1,29.15 1.2,38.87 3.6,77.74 5.4,116.59 3.8,80.03 7.7,160.05 11.7,240.07 8.1,160.03 16.6,320.03 25.6,480.02 13.1,232.75 27.2,465.45 42.2,698.08 571.1,50.58 1143.3,88.67 1716.1,113.69 629.7,27.51 1260.1,39.53 1890.4,36.02 328.6,-1.83 657.1,-8.14 985.5,-18.36 42.3,-474.73 71.3,-950.58 87,-1426.92 -562.2,-36.75 -1124.5,-73.49 -1686.8,-110.24" \
style="fill:%238cff33;fill-opacity:1;fill-rule:nonzero;stroke:none" \
transform="matrix(0.13333333,0,0,-0.13333333,0,2666.6667)" /> \
</g> \
</svg>');

--box-pink: url('data:image/svg+xml;utf8, \
<svg \
version="1.1" \
id="svg1" \
width="738.56641" \
height="387.66089" \
viewBox="0 0 738.56641 387.66088" \
xmlns="http://www.w3.org/2000/svg" \
xmlns:svg="http://www.w3.org/2000/svg"> \
<defs \
id="defs1" /> \
<g \
id="g1" \
transform="translate(-1652.374,-2135.3753)"> \
<path \
id="path8" \
d="m 17822.3,3827.54 c -6.3,66.51 -21.8,132.93 -100.9,135.57 -632.9,21.1 -1266.2,26.82 -1899.3,16.74 -630.2,-10.03 -1260.2,-35.58 -1889.1,-76.61 -357.4,-23.31 -714.4,-51.7 -1071,-84.93 -56.2,-5.23 -108.4,-51.76 -143.4,-91.33 -47.7,-53.94 -89.8,-129.05 -111.8,-198.94 -68.4,-91.9 -104.1,-206.51 -111.8,-320.25 -32.1,-473.89 -60.2,-948.06 -84.2,-1422.43 -6,-120.02 -12.4,-240.04 -17.4,-360.11 -5,-121.54 19.8,-261.69 141.8,-318.33 84.4,-39.17 186.3,-30.37 276.2,-24.49 121,7.91 242,15.82 363,23.73 956.3,62.5 1912.6,125 2868.9,187.5 535.7,35.02 1071.5,70.03 1607.2,105.05 81.7,5.34 148.8,90.45 188.9,152.35 54.8,84.69 94.3,189.62 92.6,291.7 -10.7,662.74 -47.4,1324.9 -109.7,1984.78 z m -1970,-1978.55 c -662.5,-43.3 -1325,-86.6 -1987.5,-129.9 -184.3,-12.05 -368.7,-24.1 -553,-36.15 l -276.5,-18.07 c -65.7,-4.3 -132.3,-12.01 -198,-5.29 -19.7,5.1 -38.2,12.15 -55.4,22.49 -2.4,2.88 -4.7,5.8 -6.8,8.82 -0.1,9.71 -0.2,19.42 0.1,29.15 1.2,38.87 3.6,77.74 5.4,116.59 3.8,80.03 7.7,160.05 11.7,240.07 8.1,160.03 16.6,320.03 25.6,480.02 13.1,232.75 27.2,465.45 42.2,698.08 571.1,50.58 1143.3,88.67 1716.1,113.69 629.7,27.51 1260.1,39.53 1890.4,36.02 328.6,-1.83 657.1,-8.14 985.5,-18.36 42.3,-474.73 71.3,-950.58 87,-1426.92 -562.2,-36.75 -1124.5,-73.49 -1686.8,-110.24" \
style="fill:%23f23bd0;fill-opacity:1;fill-rule:nonzero;stroke:none" \
transform="matrix(0.13333333,0,0,-0.13333333,0,2666.6667)" /> \
</g> \
</svg>');
}


/* Highlight style CSS classes */

.highlighted-text mark {
background-color: transparent;
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: contain;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
  
  transition: color 0.3s ease;
}

.pink-1 mark {
/* Assign the SVG variable */
background-image: var(--pink-1);
}

.pink-2 mark {
/* Assign the SVG variable */
background-image: var(--pink-2);
}

.pink-3 mark {
/* Assign the SVG variable */
background-image: var(--pink-3);
}

.green-1 mark {
/* Assign the SVG variable */
background-image: var(--green-1);
}

.green-2 mark {
/* Assign the SVG variable */
background-image: var(--green-2);
}

.green-3 mark {
/* Assign the SVG variable */
background-image: var(--green-3);
}

.blue-1 mark {
/* Assign the SVG variable */
background-image: var(--blue-1);
}

.blue-2 mark {
/* Assign the SVG variable */
background-image: var(--blue-2);
}

.blue-3 mark {
/* Assign the SVG variable */
background-image: var(--blue-3);
}

.yellow-1 mark {
/* Assign the SVG variable */
background-image: var(--yellow-1);
}

.yellow-2 mark {
/* Assign the SVG variable */
background-image: var(--yellow-2);
}

.yellow-3 mark {
/* Assign the SVG variable */
background-image: var(--yellow-3);
}

.highlight-box-green a.button {
background-color: transparent;

/* Assign the SVG variable */
background-image: var(--box-green);
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: contain;
padding-top: 0.8em;
min-height: 80px;
  
  transition: color 0.3s ease;
}

.highlight-box-green a.button:hover {

/* Assign the SVG variable */
background-image: var(--box-pink);
}

#form01 > div > div.actions > button:hover {
/* Assign the SVG variable */
background-image: var(--box-pink);
}
</style>
